.btn {

  border: 1px solid $off-black;
  border-radius: .8rem;
  padding: .7rem 1.6rem;
  color: $off-black;
  //text-shadow: 1px 0px 0px $off-black;

  &:hover {
    border-color: $off-black;
    color: $button-contrast-color;
    background-color: $off-black;
    cursor: pointer;
  }

}
