script(src='https://code.jquery.com/jquery-3.1.0.min.js', integrity='sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=', crossorigin='anonymous')
script(src='/js/polyfills.min.js')
script(src='/js/all.min.js')
//- Included for the Github Follow Button in the footer
script(async='', defer='', src='https://buttons.github.io/buttons.js')
//- Google Analytics: change UA-XXXXX-Y to be your site's ID.
script.
  window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
  ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
script(src='https://www.google-analytics.com/analytics.js', async='', defer='')
