.home {

  padding: 5rem 2rem;

  > * {

    margin: 0 auto;
    max-width: 45rem;

    &:not(:nth-last-child(-n+2)) {
      padding-bottom: 1.5rem;
    }

  }

  .csstransitions & {
    transition: background-color 5s ease;
  }

  .no-csstransitions & {
    &:hover {
      background-color: $primary-color-light;
    }
  }

  background-color: $primary-color-light;

  &:hover {
    background-color: $primary-color;
  }

  &__content {
    text-align: center;
  }

  &__api {

    text-align: center;

    &-results {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }

    &-response {
      display: flex;
      align-items: baseline;
      border: 1px solid $off-black;
      border-radius: 1rem;
      margin: .3rem;
      padding: 0 0.5rem;
      > * {
        line-height: 2.5rem;
        padding: 0 .3rem;
      }
    }

    &-controls {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin: 3rem 0;
      > * {
        margin: .3rem 1rem;
      }
    }
  }

  .coverage {
    position: fixed;
    top: 15px;
    right: 15px;
    width: 100%;
    text-align: right;
  }

}
