doctype html
html.no-js(lang='')

  - var mocha = 'none';
  - var pageClass = 'default';
  - var title = 'no title ◕ ︵ ◕';

  block variables

  head
    block head
    include ../includes/head.jade
    //- favicon:jade
    //- endinject

  body(class="#{pageClass}")
    //if lt IE 8
      p.browserupgrade
        | You are using an
        strong  outdated
        |  browser. Please
        a(href='https://whatbrowser.org/')  upgrade your browser
        |  to improve your experience.


    main
      block content
        p Theres nothing here yet. :(

      if env.trim() != 'production'
        a.coverage(href="/coverage/lcov-report/") Coverage Report >>

    include ../includes/scripts.jade

    if env.trim() == 'testing'
      include ../includes/mocha.jade
