doctype html
html.no-js(lang='')

  - var mocha = 'none';
  - var pageClass = 'default';
  - var title = 'no title ◕ ︵ ◕';

  block variables

  head
    block head
    include ../includes/head
    //- favicon:jade
    //- endinject

  body
    //if lt IE 8
      p.browserupgrade
        | You are using an
        strong  outdated
        |  browser. Please
        a(href='https://whatbrowser.org/')  upgrade your browser
        |  to improve your experience.


    main(class=pageClass, role='main')
      block content
        p Theres nothing here yet. :(

    footer.footer
      .footer__content
        a.github-button(href='https://github.com/prioe', data-style='mega', data-count-href='/prioe/followers', data-count-api='/users/prioe#followers', data-count-aria-label='# followers on GitHub', aria-label='Follow @prioe on GitHub') Follow @prioe

    include ../includes/scripts
    block scripts

    if env.trim() == 'testing'
      include ../includes/mocha
