extends ../layouts/base

block variables
  - var mocha = 'error';
  - var title = errorTitle
  - var pageClass = 'error';

block content
  .error__content
    h2.error__content--emoji ◕ ︵ ◕
    h2= errorMessage
    h1= statusCode
