extends ../layouts/base

block variables
  - var mocha = 'index';
  - var title = 'Home';
  - var pageClass = 'home';

block content
  .home__content
    h1 Hello there!
    h2 All done, now go nuts! ~
