/**
 * Table of Contents:
 *
 * 1. Colors
 *
 */

/* 1. Colors */

$primary-color: #ec484e;
$primary-color-light: #f49564;

$secondary-color: #417dd4;
$secondary-color-light: #8fcef2;

$dark-color: #4c5678;
